.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 16px;
  gap: 8px;
  padding: 8px;
}

.post-item {
  display: flex;
  padding: 4px;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-title {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

.post-body {
  font-size: 14px;
}